@page "/actorsmovies"
@inject Movies.EntityFramework.MoviesDbContext.MoviesDBContext context;
@using Movies.EntityFramework.Models;
@using Microsoft.EntityFrameworkCore;
<h3><b>ActorsMovies</b></h3>
<div class="form-group">
    <a class="btn btn-primary" href="actormovie/create"><i class="oi oi-plus"></i> Add New</a>
</div>
<br>
@if (actorsMovies == null)
{
    <text>Loading...</text>
}
else if (actorsMovies.Count == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Actor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ActorMovieModel actorMovie in actorsMovies)
            {
                <tr>
                    <td>@actorMovie.Movie.Name</td>
                    <td>@actorMovie.Actor.Name</td>
                    <td>
                        @* <a class="btn btn-success" href="actor/edit/@actorMovie.Id">Edit</a>*@
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
@code {
    List<ActorMovieModel> actorsMovies = new List<ActorMovieModel>();
    protected override void OnInitialized()
    {
        actorsMovies = context.ActorsMovies
        .Include(c => c.Actor)
        .Include(c => c.Movie)
        .ToList();
    }

}