@page "/actor/edit/{actorIdString}"
@inject Movies.EntityFramework.MoviesDbContext.MoviesDBContext context;
@inject NavigationManager Navigate;
@using Movies.EntityFramework.Models;

<h3>Edit</h3>

<Form ButtonText="Update" act="@actor"
      OnValidSubmit="@EditActor" />

@code {
    [Parameter] public string actorIdString{ get; set; }
    ActorModel actor = new ActorModel();

    protected override async Task OnInitializedAsync()
    {
        if (short.TryParse(actorIdString, out var actorId))
        {
            actor = await context.Actors.FindAsync(actorId);
        }

    }

    async Task EditActor()
    {
        await context.SaveChangesAsync();
        Navigate.NavigateTo("/actors");

    }
}